/*Colores
*/
.fondo{background-color: rgba(255,238,234,0.9)}
.primario,p,h1,h2,h3{color:#95819F;}
/*.secundario{color:#EFE48F}*/
.secundario{color:#FFFAEA}

body{background-image: url("../img/fondo.jpg");position: static;background-repeat: no-repeat;background-size: cover}
main{margin:0;}
#slogan{text-align: right;padding-right:2rem}
h1{margin:0!important;padding-left: 2rem;padding-top: 1rem}
#titulo{border-right: 2px ridge #FFFAEA;margin-top:1rem;}
hr{border-top:1px ridge #FFFAEA;margin:.5vw auto;}
.colIzq,.colDer{background-color: #FFFAEA;}
.contenido{padding-left: 1rem;padding-right: 1rem}



#lupa{width: 24px}
.colDer,.colIzq{margin-top:.5rem;padding-top:.5rem;}
.bold{font-weight: bold}
#favoritos{margin-left:1vw;font-size: 1rem; font-variant: small-caps;}
.platoImg{width:100%}
.historialh3{padding-left: 1vw;margin-top: 2vw}
.historial{padding-left:2vw;}
#menu,.historial li a{padding-top:0.5vw;}
textarea{resize: none}
.persona{padding-right:.5rem;padding-left: .5rem}
.persona p{margin:1vw 0;}
.post{padding-top:2vw;}
article{margin-bottom: 3vw}
.articulo{padding-left: 2vw;padding-right: 2vw}
.comentariosUsuarios{padding-bottom: 1vw}

@media(max-width: 1304px){
	h1{font-size: 32px}
	p{font-size: 15px;}
}
@media(max-width: 950px){
	h1{font-size: 18px}
	p{font-size: 11px;padding-right: 1rem}
	.imagenPost{width: 70%;height: 70%;margin-left:auto;margin-right: auto}
}