/*ID y Clases por orden de aparicion
.contenido : Elementos del contenido que poseen las mismas propiedades de padding
.fondo:Contenedor que poseen un color de fondo
#h1Contenedor:Contenedor dodne se encuentra el h1 del blog
#slogan: id de la etiqueta p que contiene el slogan
#contenedorIzq:Contenedor de la columna izquierda
#colIzq: Contenedor pequeño del contenido de la columna izquierda
#lupa: id del icono de una lupa
.bold: Elementos que tienen bold como valor de font-weight
#historial:Lista desordenada con el historial
.posteo:Contenedor de la publicacion del blog
.imagenPost: Imagen del post
.comentariosUsuarios: Caja contendora de cada comentario de los usuarios
.persona:Icono de una persona

*/

/**COLORES**/
.fondo{background-color: rgba(255,238,234,0.9)}
.primario,p,h1,h2,h3,h4,label{color:#95819F;}
.secundario{color:#FFFAEA}


body{background-image: url("../img/fondo.jpg");position: static;background-repeat: no-repeat;background-size: cover}
.contenido{padding-left: 1rem;padding-right: 1rem}
/***HEADER***/
#h1Contenedor{border-right: 2px ridge #FFFAEA;margin-top:1rem;margin-left: 2rem}
h1{padding-left: 1rem;padding-top: 1rem}
#slogan{text-align: right;}
hr{border-top:1px ridge #FFFAEA;margin:.5vw auto;}
/***MAIN***/
.contenedorIzq{padding:0;}
.colIzq{padding: 1rem}
.colIzq,.posteo{background-color: #FFFAEA;margin-top:.5rem;padding-top:.8rem;}
#lupa{width: 1.5rem}
.bold{font-weight: bold}
h4{margin-left:1vw; font-variant: small-caps;}
.historialh3{padding-left: 1vw;margin-top: 2vw}
.historial{padding-left:2vw;}
.menu,.historial li a{padding-top:0.5vw;}
article{margin-bottom: 3vw}
textarea{resize: none}
.persona{padding-right:.5rem;padding-left: .5rem}
.persona p{margin:1vw 0;}
.comentariosUsuarios{padding-bottom: 1vw}
@media(max-width: 1304px){
	h1{font-size: 32px}
	p{font-size: 15px;}
}
@media(max-width: 950px){
	h1{font-size: 18px}
	p{font-size: 11px;padding-right: 1rem}
	.imagenPost{width: 70%;height: 70%;margin-left:auto;margin-right: auto}
}

@media(max-width:640px){
	#slogan{text-align: center}
	#h1Contenedor{border:0;}
}