/*
IDs:
#logo: logo del sitio
#soda:imagen de soda stereo;
#MJ:imagen de Michael Jackson;

CLASES:
.redSocial: iconos de redes sociales;

POSIBLEMENTE BORRAR
principal, buscador,contenido,persona
*/
body{padding: 0 !important}
header{padding:1rem 0 1rem 1rem;background-color: darksalmon}
#logo{height: 5rem;}
.redSocial{height: 2rem;margin: 0.5rem}
nav{padding:0.8rem;background-color: gray}
.list-inline{margin-bottom: 0}
.list-inline-item button{width:10vw;}
main{background-color:lightblue}
.principal{background-color:cadetblue;margin-bottom:1rem;padding-top: 1rem}
.buscador{background-color: aliceblue}

.persona{width: 2.5rem}
form,.form-group, #comentario{display: inline;}
#comentario{width: 87%}
.form-group{margin-left: 1vw}
.cajaComentario{padding-top: 1rem}
.textarea{resize: none;height:2.5rem !important}
#soda,#MJ{width: 100%;}
#notaPrincipal{background-color:lavender;padding: 1rem;margin-bottom: 1rem}
#notaSecundaria{background-color:rosybrown;padding: 1rem}
.textarea, .buscar{border-radius: 15px}
#buscador{background-color:aquamarine;}
#lupa{width: 20px}
#labelBuscar{margin-left: 1rem}


@media(max-width: 767px)
{
	#logo{margin-bottom: 10px}
	.list-inline-item{width:100%;margin-right: 0!important}
	.list-inline-item button{width:100%;margin-top:2px;}
	 #comentario{width: 80%}
	.form-group{margin-left: 2vw}
	.cajaBuscador{display: none}
	.navegacion nav ul{padding:0.1 !important;margin:0!important;}
	.navegacion nav ul li{padding-top:0.2rem;}
	nav{padding:0;}


	
	
}